
 html{
    height: 100%;
    background-image:linear-gradient(
        #3d2667, #502d74, #502d74, #ad50b9, #ec66e6, #fac9f7, #ffffff);    
}
.conteudo{
    
    background-image: linear-gradient( #3d2667 ,#603381 ,#9045a3,#bb54c2 , #f278eb, #ffffff);

}
.logo{
    display: table-cell;
    width: 5%;
    height: 5%;
    padding: 0% 1%;
    float: left;
    
}
.sobre{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    position: absolute;
    left: 14%;
    margin:10px;
    display: table-cell;
    color:#ffffff;
}
.versao{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    position: absolute;
    left: 20%;
    padding:10px;
    display: table-cell;
    color:#ffffff;
}
.btn-login{
    font-family: 'Lobster', cursive;
    position: absolute;
    top:1%;
    left: 85%;
    border-radius: 20px;
    border: 2px solid #ad50b9;
    width: 80px;
    height:30px;
    display: table-cell;
    font-family: 'Lilita One', regular;
   
}
.btn-signin{
    font-family: 'Lilita One', regular;
    top:1%;
    position: absolute;
    left: 93%;
    display: table-cell;
    border-radius: 20px;
    border: none;
    width: 80px;
    height:30px;
    display: table-cell;
    color: #ffffff;
    background-color: #ad50b9;
}

.procuramos{
    position: absolute;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    top: 20%;
    left: 3%;
}
.voluntarios{
    position: absolute;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 6em;
    top: 25%;
    left: 3%;
}
.texto1{
    position: absolute;
    color: #ffffff;
    font-family: 'Lobster', regular;
    font-size: 1.6em;
    top: 38%;
    width:30%;
    left:5%;

}
.btn-signin2{
    font-family: 'Lobster', regular;
    font-size: 1.5em;
    position: absolute;
    left: 20%;
    top: 60%;
    display: table-cell;
    border-radius: 20px;
    border:2px solid purple;
    width: 100px;
    height:40px;
    display: table-cell;
    color: #000000;
    background-color: #ffffff;
}
.img-main{
    position: absolute;
    top: 7%;
    left: 23.6%;
}
.inf-algoritmo{
    font-family: 'Lobster', bold;
    color: black;
    width: 30%;
    font-size: 1.2em;
    position: absolute;
    top: 80%;
}
