html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top left, rgb(71, 38, 95), rgb(189, 105, 182), #fff);
}

.main-area {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    text-shadow: 0.1em 0.1em 0.8em #333;
}

.content p {
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size: 2rem;
    width: 35rem;
    margin-left: 100px;
    margin-bottom: 50px;
}

.btn-about {
    position: absolute;
    right: 28%;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

.content h1 {
    margin-top: 50px;
    font-size: 10rem;
    width: auto;
}


.illustration {
    margin-top: 40px; 
    width: 50rem;

}
.logo {
    width: 5rem;
}

footer {
    color: white;
    top: 27%;
    position: relative;
}