.navba span{
    position: absolute;
   left: 0;
}
.left-menu{
    width: 4vw;
    height: 40vw;
    left: 0;
    background-color: white;
}
.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: rgb(137,71,161);
    background: linear-gradient(0deg, rgba(137,71,161,1) 0%, rgba(241,146,236,1) 35%, rgba(255,255,255,1) 100%);
}
.card {
    display: flex;
    justify-content: center;
    margin: 10%;
    border-radius: 10;
    padding: 2rem;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}
.card h2 {
    margin-left: 35%;
}
.img {
    width: 130px;
    height: 150px;
    margin: 0.3rem;
    margin-top: 1rem;
    margin-left: 18%;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}
.person h6 {
    margin: 0;
    font-size: larger;
}
.person h1 {
    margin: 0;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    margin: 1rem;
    padding: 0;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 55px -4px rgb(199, 199, 199);
}
.peaple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 5%;
    height: 5%;
}
.button-log {
    width: 10%;
    background-color: rgb(181, 70, 195);
    border: none;
    padding: 0.3rem;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}
.button {
    width: 30%;
    margin-left: 35%;
    background-color: rgb(181, 70, 195);
    border: none;
    padding: 0.5rem;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}
.bio {
    background: rgb(137,71,161);
    background: linear-gradient(0deg, rgba(137,71,161,1) 0%, rgba(241,146,236,1) 35%, rgba(255,255,255,1) 100%);
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 0.5rem;
    border-radius: 10%;
}
.rigth h1 {
    margin-top: 80%;
}
.icon {
    margin: 0.5rem;
    fill: rgb(248, 93, 215);
}
.next {
    margin-top: 15%;
}
.deny {
    position: absolute;
    fill: rgb(255, 0, 0);
    margin-top: 12%;
    margin-left: 5%;
}
.ok {
    position: absolute;
    fill: rgb(0, 255, 34);
    margin-top: 12%;
    margin-left: 10%;
}