body {

    width: 99%;
    height:16.9cm;
    font-family: 'Lobster';
    line-height: 0.5;
    color: white;
}
.Titulo{
    top: 5%;
    left:68%;
    position: absolute;
    font-size: 14mm;
    

}
.Paragrafos{
    left: 55%;
    top:28%;
    position: absolute;
    font-size: 6mm;
    line-height:0.2;
    

}
.Desenvolvedores{
    left: 63%;
    position: absolute;
    font-size: 8mm;
    top:55%;
    
}
.casais{
    position: absolute;
    top: 28%;
    left: 0%;
}
.log {
    border-radius: 20px;
    color: #000000;
    border-color: #ad1ee8;
    padding: 6px 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lobster';
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top:2%;
    left: 78%;
  }
  .sing {
    border-radius: 20px;
    color: #ffffff;
    border-color: #ad1ee8;
    padding: 6px 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lobster';
    margin: 4px 2px;
    cursor: pointer;
    background-color:#ad1ee8 ;
    position: absolute;
    top:2%;
    left: 89%;
  }
  .topsobre{
      position: absolute;
      top: 0%;
      left: 12%;
      cursor: pointer;
      font-size: 25px;
  }
  .topbeta{
    position: absolute;
    top: 0%;
    left: 20%;
    cursor: pointer;
    font-size: 25px;
}
  .fotointegrantes{
      position: absolute;
      top: 72%;
      left: 53%;
  }